{"openapi":"3.0.1","info":{"title":"Schülerticket API","description":"Schülerticket Schnittstelle zwischen Schulträger und VU in NRW","contact":{"name":"Lukas Sauerbier","url":"https://www.rku-it.de","email":"lukas.sauerbier@rku-it.de","x-Company":"rku.it GmbH"},"license":{"name":"MIT License","url":"https://choosealicense.com/licenses/mit/#"},"version":"v0.6.0"},"servers":[{"url":"https://ticksign.rku-it.de/schooldataapi","description":"ticksign rku.it"},{"url":"http://localhost:9001/schooldataapi","description":"localhost"}],"tags":[{"name":"School Data API"}],"paths":{"/api":{"post":{"tags":["School Data API"],"summary":"Übertragen eines Datensatzes an das Verkehrsunternehmen","operationId":"api","parameters":[{"name":"X-API-KEY","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Request"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Request"}}},"required":true},"responses":{"400":{"description":"Fehler bei der Validierung der Anfrage","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"401":{"description":"API Key leer oder nicht angegeben","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"406":{"description":"Accept-Header kann nicht erfüllt werden","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"415":{"description":"Content-Type wird nicht unterstützt","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"403":{"description":"API Key nicht gefunden","content":{"text/plain":{}}},"405":{"description":"Anfrage muss ein POST-Request sein","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"500":{"description":"Interner Serverfehler","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}}}},"200":{"description":"OK!"}}}}},"components":{"schemas":{"BasicData":{"required":["acceptTransportTerms","reductionEntitled","requestDate"],"type":"object","properties":{"requestDate":{"type":"string","description":"Antragsdatum","format":"date","example":"2022-07-21"},"reason":{"type":"string","description":"Antragsart","example":"Initial","enum":["Initial","Followup","Change","Cancel","Other"]},"requestNumber":{"type":"integer","description":"Antragsnummer","format":"int64","example":123456},"reasonDescription":{"maxLength":254,"minLength":0,"type":"string","description":"Antragsgrund Beschreibung, wenn „sonstiges“ gewählt","example":"Die Schule ist umgezogen"},"acceptTransportTerms":{"type":"boolean","description":"Zustimmung Tarifgrundlagen erteilt","example":true},"reductionEntitled":{"type":"boolean","description":"Besteht ein Anspruch auf Ermäßigung","example":true},"personalContribution":{"type":"string","description":"Eigenanteil","example":"High","enum":["Full","High","Low","None"]}},"description":"Basisdaten zum Antrag - In diesem Element werden alle Basisdaten des Antrages übergeben, z.B. der gewünschte Gültigkeitsbeginn des Tickets."},"Consent":{"required":["contactViaMail","contactViaPhone","marketResearch","marketing","privacyPolicy"],"type":"object","properties":{"privacyPolicy":{"type":"boolean"},"marketing":{"type":"boolean"},"marketResearch":{"type":"boolean"},"contactViaPhone":{"type":"boolean"},"contactViaMail":{"type":"boolean"}},"description":"Zustimmungen einer Person."},"Contact":{"required":["city","firstname","lastname","postalcode","sex","street","streetnumber"],"type":"object","properties":{"lastname":{"maxLength":120,"minLength":0,"type":"string","description":"Nachname","example":"Müller"},"studentID":{"type":"string","description":"ID im Schulsystem","example":"12345A99"},"firstname":{"maxLength":80,"minLength":0,"type":"string","description":"Vorname","example":"Marie"},"customerNumber":{"maxLength":64,"minLength":0,"type":"string","description":"Kundennummer bzw. Vertragsnummer des Schülers beim Verkehrsunternehmen","example":"1233738B2"},"birthday":{"type":"string","description":"Geburtsdatum","format":"date","example":"2017-07-21"},"sex":{"type":"string","description":"Geschlecht","example":"male","enum":["unknown","male","female","divers"]},"street":{"maxLength":55,"minLength":0,"type":"string","description":"Straße","example":"Cloudstraße"},"streetnumber":{"maxLength":9,"minLength":0,"type":"string","description":"Hausnummer","example":"22"},"streetnumberExtension":{"maxLength":10,"minLength":0,"type":"string","description":"Hausnummer Zusatz","example":"A"},"adressExtension":{"maxLength":10,"minLength":0,"type":"string","description":"Adresszusatz","example":"Hinterhaus"},"pobox":{"maxLength":10,"minLength":0,"type":"string","description":"Postfach","example":"12 34 56"},"postalcode":{"maxLength":5,"minLength":5,"type":"string","description":"PLZ - Postleitzahl","example":"44141"},"city":{"maxLength":105,"minLength":0,"type":"string","description":"Ort - Wohnort","example":"Dortmund"},"district":{"type":"string","description":"Ortsteil bei ausländischem Wohnort","example":"Lütgendortmund"},"country":{"type":"string","description":"Land bei ausländischem Wohnort","example":"Deutschland"},"phonenumber":{"maxLength":20,"minLength":0,"type":"string","description":"Telefonnummer","example":"0123456789"},"emailAdress":{"type":"string"}},"description":"Kontaktdaten einer Person."},"PaymentDetails":{"required":["bic","creditCheckConsent","directDebitConsent","iban","payer","payment"],"type":"object","properties":{"bankName":{"maxLength":64,"minLength":0,"type":"string","description":"Name der Bank, nur optionale Angabe zur Kontrolle","example":"Sparkasse Herne"},"iban":{"maxLength":34,"minLength":15,"type":"string","description":"IBAN","example":"DEABCDEF123456789"},"bic":{"maxLength":20,"minLength":0,"type":"string","description":"BIC","example":"WELADED2HER"},"payer":{"$ref":"#/components/schemas/Contact"},"directDebitConsent":{"type":"boolean","description":"Zustimmung SEPA Lastschrift","example":true},"creditCheckConsent":{"type":"boolean","description":"Zustimmung Bonitätsprüfung","example":true},"payment":{"type":"string","description":"Art der Zahlung","example":"Invoice","enum":["Invoice","DirectDebit"]}},"description":"Dieser Datensatz ist optional, da der Antragsteller nicht zur Angabe ggü. der Stadt Dortmund verpflichtet werden kann. Wird der Datensatz jedoch geliefert (freiwillige Angabe des Antrag-stellers), sind bestimmte Elemente verpflichtend"},"Request":{"required":["basisdaten","consent","schoolInformation","siblings","student","ticketInformation"],"type":"object","properties":{"basisdaten":{"$ref":"#/components/schemas/BasicData"},"ticketInformation":{"$ref":"#/components/schemas/TicketInformation"},"student":{"$ref":"#/components/schemas/Contact"},"representative":{"$ref":"#/components/schemas/Contact"},"paymentDetails":{"$ref":"#/components/schemas/PaymentDetails"},"consent":{"$ref":"#/components/schemas/Consent"},"schoolInformation":{"$ref":"#/components/schemas/SchoolInformation"},"siblings":{"type":"array","description":"Angaben von Geschwisterkindern zur Festlegung des Eigenanteils. Dieser Datensatz entfällt, wenn keine Geschwisterbeziehungen angegeben wurden. Dann wird ein leeres Array erwartet.","items":{"$ref":"#/components/schemas/Sibling"}}}},"School":{"required":["name"],"type":"object","properties":{"id":{"maximum":999999999,"maxLength":10,"type":"integer","description":"Soweit bekannt, eindeutige ID der Schule","format":"int64","example":61854},"name":{"maxLength":250,"minLength":0,"type":"string","description":"Name der Schule","example":"ABC Grundschule"},"schoolType":{"type":"string","description":"Schultyp","example":"Grundschule","enum":["Grundschule","Gymnasium","Realschule","Gesamtschule","Hauptschule","Berufsschule","Mittelschuke"]}}},"SchoolInformation":{"required":["classNumber","school"],"type":"object","properties":{"oldSchool":{"$ref":"#/components/schemas/School"},"school":{"$ref":"#/components/schemas/School"},"classNumber":{"maxLength":6,"minLength":0,"type":"string","description":"Klasse/Jahrgangsstufe","example":"6A"},"courseOfEducation":{"maxLength":250,"minLength":0,"type":"string","description":"Bildungsgang","example":"Ausbildungsklasse Elektrotechnik"},"schoolCertificateChecked":{"type":"boolean","description":"Schulbescheinigung","example":true}},"description":"In diesem Element werden die Daten zur aufnehmenden und ggf. zur alten Schule überge-ben"},"Sibling":{"required":["customer","school"],"type":"object","properties":{"customer":{"$ref":"#/components/schemas/Contact"},"school":{"$ref":"#/components/schemas/School"}},"description":"Angaben von Geschwisterkindern zur Festlegung des Eigenanteils. Dieser Datensatz entfällt, wenn keine Geschwisterbeziehungen angegeben wurden. Dann wird ein leeres Array erwartet."},"TicketInformation":{"required":["product","productNumber","subscribtionStart","trafficAssociation"],"type":"object","properties":{"subscribtionStart":{"type":"string","description":"Abo-Beginn","format":"date","example":"2023-05-21"},"subscribtionEnd":{"type":"string","description":"Abo-Ende","format":"date","example":"2022-08-01"},"trafficAssociation":{"type":"string","description":"Verkehrsverbund","example":"AVV"},"trafficCompany":{"type":"string","description":"Verkehrsunternehmen","example":"BOGESTRA"},"product":{"type":"string","description":"Produkt","example":"Schokoticket"},"productNumber":{"type":"integer","description":"Produktnummer","format":"int64","example":691581},"destinationStop":{"type":"string","description":"Zielhaltestelle","example":"Herne, Berliner Platz"},"startingStop":{"type":"string","description":"Starthaltestelle","example":"Bochum, Jahrhunderthalle"},"validityAreaSchool":{"type":"string","description":"Geltungsbereich","example":"Wabe 615"},"validityAreaPrivate":{"type":"string","description":"Geltungsbereich beim Zukauf von Freizeitnutzung","example":"Wabe 615"}},"description":"Informationen zum Ticket"}}}}